@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
body * {
  box-sizing: border-box;
}
.test {
  padding: 5px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.hr-teams {
  display: flex;
  flex-direction: column;
  min-width: 1000px;
}
.hr-teams .item {
  display: flex;
}
.hr-teams .item__parent {
  position: relative;
  min-width: 150px;
}
.hr-teams .item__parent__line {
  position: absolute;
  width: 1px;
  background-color: #ccc;
  right: calc(100% + 20px);
  z-index: 10;
  transition: background-color 0.3s;
  top: 0; /* Set the top position */
  bottom: 0; /* Set the bottom position */
}
.hr-teams .item__parent__element {
  min-width: 200px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.hr-teams .item__parent__element.has-children:after {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  z-index: 20;
  transition: background-color 0.3s;
  left: 100%;
}
.hr-teams .item__parent__element.has-parent:before {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  z-index: 20;
  transition: background-color 0.3s;
  right: 100%;
}
.hr-teams .item__parent__element:last-child {
  margin-bottom: 0;
}
.hr-teams
  .item__parent.active
  .item__parent__element.has-children.no-active-children:after {
  background-color: #ccc;
}
.hr-teams .item__children {
  margin-left: 40px;
  position: relative;
  flex: 1;
}
body.currentapp_noapp .hr-teams .item__parent__line.active {
  background-color: #999999;
}
body.currentapp_noapp .hr-teams .item__parent.active .item__parent__element {
  border-color: #999999;
}
body.currentapp_noapp
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_noapp
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #999999;
}
body.currentapp_noapp .hr-teams .item__parent.active .test {
  border-color: #999999;
}
body.currentapp_noapp .hr-teams .item__children.dragged-over {
  background-color: rgba(153, 153, 153, 0.1);
}
body.currentapp_hr .hr-teams .item__parent__line.active {
  background-color: #ff8360;
}
body.currentapp_hr .hr-teams .item__parent.active .item__parent__element {
  border-color: #ff8360;
}
body.currentapp_hr
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_hr
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #ff8360;
}
body.currentapp_hr .hr-teams .item__parent.active .test {
  border-color: #ff8360;
}
body.currentapp_hr .hr-teams .item__children.dragged-over {
  background-color: rgba(255, 131, 96, 0.1);
}
body.currentapp_revenue .hr-teams .item__parent__line.active {
  background-color: #cd4e9d;
}
body.currentapp_revenue .hr-teams .item__parent.active .item__parent__element {
  border-color: #cd4e9d;
}
body.currentapp_revenue
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_revenue
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #cd4e9d;
}
body.currentapp_revenue .hr-teams .item__parent.active .test {
  border-color: #cd4e9d;
}
body.currentapp_revenue .hr-teams .item__children.dragged-over {
  background-color: rgba(205, 78, 157, 0.1);
}
body.currentapp_calendar .hr-teams .item__parent__line.active {
  background-color: #5c8eca;
}
body.currentapp_calendar .hr-teams .item__parent.active .item__parent__element {
  border-color: #5c8eca;
}
body.currentapp_calendar
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_calendar
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #5c8eca;
}
body.currentapp_calendar .hr-teams .item__parent.active .test {
  border-color: #5c8eca;
}
body.currentapp_calendar .hr-teams .item__children.dragged-over {
  background-color: rgba(92, 142, 202, 0.1);
}
body.currentapp_doc .hr-teams .item__parent__line.active {
  background-color: #2085aa;
}
body.currentapp_doc .hr-teams .item__parent.active .item__parent__element {
  border-color: #2085aa;
}
body.currentapp_doc
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_doc
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #2085aa;
}
body.currentapp_doc .hr-teams .item__parent.active .test {
  border-color: #2085aa;
}
body.currentapp_doc .hr-teams .item__children.dragged-over {
  background-color: rgba(32, 133, 170, 0.1);
}
body.currentapp_mc .hr-teams .item__parent__line.active {
  background-color: #2085aa;
}
body.currentapp_mc .hr-teams .item__parent.active .item__parent__element {
  border-color: #2085aa;
}
body.currentapp_mc
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_mc
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #2085aa;
}
body.currentapp_mc .hr-teams .item__parent.active .test {
  border-color: #2085aa;
}
body.currentapp_mc .hr-teams .item__children.dragged-over {
  background-color: rgba(32, 133, 170, 0.1);
}
body.currentapp_crm .hr-teams .item__parent__line.active {
  background-color: #dd8447;
}
body.currentapp_crm .hr-teams .item__parent.active .item__parent__element {
  border-color: #dd8447;
}
body.currentapp_crm
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_crm
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #dd8447;
}
body.currentapp_crm .hr-teams .item__parent.active .test {
  border-color: #dd8447;
}
body.currentapp_crm .hr-teams .item__children.dragged-over {
  background-color: rgba(221, 132, 71, 0.1);
}
body.currentapp_settings .hr-teams .item__parent__line.active {
  background-color: #cc474f;
}
body.currentapp_settings .hr-teams .item__parent.active .item__parent__element {
  border-color: #cc474f;
}
body.currentapp_settings
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_settings
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #cc474f;
}
body.currentapp_settings .hr-teams .item__parent.active .test {
  border-color: #cc474f;
}
body.currentapp_settings .hr-teams .item__children.dragged-over {
  background-color: rgba(204, 71, 79, 0.1);
}
body.currentapp_bills .hr-teams .item__parent__line.active {
  background-color: #3ca09d;
}
body.currentapp_bills .hr-teams .item__parent.active .item__parent__element {
  border-color: #3ca09d;
}
body.currentapp_bills
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_bills
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #3ca09d;
}
body.currentapp_bills .hr-teams .item__parent.active .test {
  border-color: #3ca09d;
}
body.currentapp_bills .hr-teams .item__children.dragged-over {
  background-color: rgba(60, 160, 157, 0.1);
}
body.currentapp_accounting .hr-teams .item__parent__line.active {
  background-color: #e2bb62;
}
body.currentapp_accounting
  .hr-teams
  .item__parent.active
  .item__parent__element {
  border-color: #e2bb62;
}
body.currentapp_accounting
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_accounting
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #e2bb62;
}
body.currentapp_accounting .hr-teams .item__parent.active .test {
  border-color: #e2bb62;
}
body.currentapp_accounting .hr-teams .item__children.dragged-over {
  background-color: rgba(226, 187, 98, 0.1);
}
body.currentapp_customers .hr-teams .item__parent__line.active {
  background-color: #dd8447;
}
body.currentapp_customers
  .hr-teams
  .item__parent.active
  .item__parent__element {
  border-color: #dd8447;
}
body.currentapp_customers
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_customers
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #dd8447;
}
body.currentapp_customers .hr-teams .item__parent.active .test {
  border-color: #dd8447;
}
body.currentapp_customers .hr-teams .item__children.dragged-over {
  background-color: rgba(221, 132, 71, 0.1);
}
body.currentapp_reporting .hr-teams .item__parent__line.active {
  background-color: #b280ea;
}
body.currentapp_reporting
  .hr-teams
  .item__parent.active
  .item__parent__element {
  border-color: #b280ea;
}
body.currentapp_reporting
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_reporting
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #b280ea;
}
body.currentapp_reporting .hr-teams .item__parent.active .test {
  border-color: #b280ea;
}
body.currentapp_reporting .hr-teams .item__children.dragged-over {
  background-color: rgba(178, 128, 234, 0.1);
}
body.currentapp_good .hr-teams .item__parent__line.active {
  background-color: #3dbd90;
}
body.currentapp_good .hr-teams .item__parent.active .item__parent__element {
  border-color: #3dbd90;
}
body.currentapp_good
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_good
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #3dbd90;
}
body.currentapp_good .hr-teams .item__parent.active .test {
  border-color: #3dbd90;
}
body.currentapp_good .hr-teams .item__children.dragged-over {
  background-color: rgba(61, 189, 144, 0.1);
}
body.currentapp_neutral .hr-teams .item__parent__line.active {
  background-color: #bc8d3f;
}
body.currentapp_neutral .hr-teams .item__parent.active .item__parent__element {
  border-color: #bc8d3f;
}
body.currentapp_neutral
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_neutral
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #bc8d3f;
}
body.currentapp_neutral .hr-teams .item__parent.active .test {
  border-color: #bc8d3f;
}
body.currentapp_neutral .hr-teams .item__children.dragged-over {
  background-color: rgba(188, 141, 63, 0.1);
}
body.currentapp_bad .hr-teams .item__parent__line.active {
  background-color: #cc474f;
}
body.currentapp_bad .hr-teams .item__parent.active .item__parent__element {
  border-color: #cc474f;
}
body.currentapp_bad
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_bad
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #cc474f;
}
body.currentapp_bad .hr-teams .item__parent.active .test {
  border-color: #cc474f;
}
body.currentapp_bad .hr-teams .item__children.dragged-over {
  background-color: rgba(204, 71, 79, 0.1);
}
body.currentapp_noapp .hr-teams .item__parent__line.active {
  background-color: #666666;
}
body.currentapp_noapp .hr-teams .item__parent.active .item__parent__element {
  border-color: #666666;
}
body.currentapp_noapp
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_noapp
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #666666;
}
body.currentapp_noapp .hr-teams .item__parent.active .test {
  border-color: #666666;
}
body.currentapp_noapp .hr-teams .item__children.dragged-over {
  background-color: rgba(102, 102, 102, 0.1);
}
body.currentapp_hr .hr-teams .item__parent__line.active {
  background-color: #d16c59;
}
body.currentapp_hr .hr-teams .item__parent.active .item__parent__element {
  border-color: #d16c59;
}
body.currentapp_hr
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_hr
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #d16c59;
}
body.currentapp_hr .hr-teams .item__parent.active .test {
  border-color: #d16c59;
}
body.currentapp_hr .hr-teams .item__children.dragged-over {
  background-color: rgba(209, 108, 89, 0.1);
}
body.currentapp_revenue .hr-teams .item__parent__line.active {
  background-color: #b04387;
}
body.currentapp_revenue .hr-teams .item__parent.active .item__parent__element {
  border-color: #b04387;
}
body.currentapp_revenue
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_revenue
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #b04387;
}
body.currentapp_revenue .hr-teams .item__parent.active .test {
  border-color: #b04387;
}
body.currentapp_revenue .hr-teams .item__children.dragged-over {
  background-color: rgba(176, 67, 135, 0.1);
}
body.currentapp_calendar .hr-teams .item__parent__line.active {
  background-color: #3a597e;
}
body.currentapp_calendar .hr-teams .item__parent.active .item__parent__element {
  border-color: #3a597e;
}
body.currentapp_calendar
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_calendar
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #3a597e;
}
body.currentapp_calendar .hr-teams .item__parent.active .test {
  border-color: #3a597e;
}
body.currentapp_calendar .hr-teams .item__children.dragged-over {
  background-color: rgba(58, 89, 126, 0.1);
}
body.currentapp_doc .hr-teams .item__parent__line.active {
  background-color: #115d78;
}
body.currentapp_doc .hr-teams .item__parent.active .item__parent__element {
  border-color: #115d78;
}
body.currentapp_doc
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_doc
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #115d78;
}
body.currentapp_doc .hr-teams .item__parent.active .test {
  border-color: #115d78;
}
body.currentapp_doc .hr-teams .item__children.dragged-over {
  background-color: rgba(17, 93, 120, 0.1);
}
body.currentapp_mc .hr-teams .item__parent__line.active {
  background-color: #115d78;
}
body.currentapp_mc .hr-teams .item__parent.active .item__parent__element {
  border-color: #115d78;
}
body.currentapp_mc
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_mc
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #115d78;
}
body.currentapp_mc .hr-teams .item__parent.active .test {
  border-color: #115d78;
}
body.currentapp_mc .hr-teams .item__children.dragged-over {
  background-color: rgba(17, 93, 120, 0.1);
}
body.currentapp_crm .hr-teams .item__parent__line.active {
  background-color: #c46627;
}
body.currentapp_crm .hr-teams .item__parent.active .item__parent__element {
  border-color: #c46627;
}
body.currentapp_crm
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_crm
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #c46627;
}
body.currentapp_crm .hr-teams .item__parent.active .test {
  border-color: #c46627;
}
body.currentapp_crm .hr-teams .item__children.dragged-over {
  background-color: rgba(196, 102, 39, 0.1);
}
body.currentapp_settings .hr-teams .item__parent__line.active {
  background-color: #a83b42;
}
body.currentapp_settings .hr-teams .item__parent.active .item__parent__element {
  border-color: #a83b42;
}
body.currentapp_settings
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_settings
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #a83b42;
}
body.currentapp_settings .hr-teams .item__parent.active .test {
  border-color: #a83b42;
}
body.currentapp_settings .hr-teams .item__children.dragged-over {
  background-color: rgba(168, 59, 66, 0.1);
}
body.currentapp_bills .hr-teams .item__parent__line.active {
  background-color: #2c8484;
}
body.currentapp_bills .hr-teams .item__parent.active .item__parent__element {
  border-color: #2c8484;
}
body.currentapp_bills
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_bills
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #2c8484;
}
body.currentapp_bills .hr-teams .item__parent.active .test {
  border-color: #2c8484;
}
body.currentapp_bills .hr-teams .item__children.dragged-over {
  background-color: rgba(44, 132, 132, 0.1);
}
body.currentapp_accounting .hr-teams .item__parent__line.active {
  background-color: #ddb047;
}
body.currentapp_accounting
  .hr-teams
  .item__parent.active
  .item__parent__element {
  border-color: #ddb047;
}
body.currentapp_accounting
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_accounting
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #ddb047;
}
body.currentapp_accounting .hr-teams .item__parent.active .test {
  border-color: #ddb047;
}
body.currentapp_accounting .hr-teams .item__children.dragged-over {
  background-color: rgba(221, 176, 71, 0.1);
}
body.currentapp_customers .hr-teams .item__parent__line.active {
  background-color: #c46627;
}
body.currentapp_customers
  .hr-teams
  .item__parent.active
  .item__parent__element {
  border-color: #c46627;
}
body.currentapp_customers
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_customers
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #c46627;
}
body.currentapp_customers .hr-teams .item__parent.active .test {
  border-color: #c46627;
}
body.currentapp_customers .hr-teams .item__children.dragged-over {
  background-color: rgba(196, 102, 39, 0.1);
}
body.currentapp_reporting .hr-teams .item__parent__line.active {
  background-color: #936bc1;
}
body.currentapp_reporting
  .hr-teams
  .item__parent.active
  .item__parent__element {
  border-color: #936bc1;
}
body.currentapp_reporting
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_reporting
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #936bc1;
}
body.currentapp_reporting .hr-teams .item__parent.active .test {
  border-color: #936bc1;
}
body.currentapp_reporting .hr-teams .item__children.dragged-over {
  background-color: rgba(147, 107, 193, 0.1);
}
body.currentapp_good .hr-teams .item__parent__line.active {
  background-color: #2b8666;
}
body.currentapp_good .hr-teams .item__parent.active .item__parent__element {
  border-color: #2b8666;
}
body.currentapp_good
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_good
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #2b8666;
}
body.currentapp_good .hr-teams .item__parent.active .test {
  border-color: #2b8666;
}
body.currentapp_good .hr-teams .item__children.dragged-over {
  background-color: rgba(43, 134, 102, 0.1);
}
body.currentapp_neutral .hr-teams .item__parent__line.active {
  background-color: #ac7513;
}
body.currentapp_neutral .hr-teams .item__parent.active .item__parent__element {
  border-color: #ac7513;
}
body.currentapp_neutral
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_neutral
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #ac7513;
}
body.currentapp_neutral .hr-teams .item__parent.active .test {
  border-color: #ac7513;
}
body.currentapp_neutral .hr-teams .item__children.dragged-over {
  background-color: rgba(172, 117, 19, 0.1);
}
body.currentapp_bad .hr-teams .item__parent__line.active {
  background-color: #a83b42;
}
body.currentapp_bad .hr-teams .item__parent.active .item__parent__element {
  border-color: #a83b42;
}
body.currentapp_bad
  .hr-teams
  .item__parent.active
  .item__parent__element.has-parent:before,
body.currentapp_bad
  .hr-teams
  .item__parent.active
  .item__parent__element.has-children:after {
  background-color: #a83b42;
}
body.currentapp_bad .hr-teams .item__parent.active .test {
  border-color: #a83b42;
}
body.currentapp_bad .hr-teams .item__children.dragged-over {
  background-color: rgba(168, 59, 66, 0.1);
}
